.intro {
    color: whitesmoke;
}

#helloworld{
    background-color: rgb(37, 92, 241) !important;
}

.navbar{
    background-color: rgb(37, 92, 241) !important;
}

#helloworld:hover{
    animation-name: rot;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes rot{
    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}